<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Riz.XFramework" version="2.4.1" targetFramework="net40" />
  <package id="Riz.XFramework.MySql" version="2.4.1" targetFramework="net40" />
  <package id="Riz.XFramework.Oracle" version="2.4.1" targetFramework="net40" />
  <package id="Riz.XFramework.Postgre" version="2.4.1" targetFramework="net40" />
  <package id="Riz.XFramework.SQLite" version="2.4.1" targetFramework="net40" />
</packages>